<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}" href="../static/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>

    <link rel="shortcut icon" th:href="@{/favicon.ico}" href="../static/favicon.ico" type="image/x-icon">
    <link rel="icon" th:href="@{/favicon.ico}" href="../static/favicon.ico" type="image/x-icon">

</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container ">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Registro</h2>
                        <form action="/register" method="post" th:object="${usuario}" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="txtEmail"><i class="zmdi zmdi-email"></i></label>
                                <input th:field="*{email}" type="email" name="email" id="txtEmail" placeholder="Email"/>
                            </div>
                            <div class='alert alert-danger' th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                            <div class='alert alert-danger' th:if="${mensaje != null} " th:text="${mensaje}"></div>
                            <div class="form-group">
                                <label for="txtNombre"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input th:field="*{nombre}" type="text" name="name" id="txtNombre" placeholder="Nombre"/>
                            </div>
                            <div class='alert alert-danger' th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                            <div class="form-group">
                                <label for="txtTelefono"><i class="zmdi zmdi-account-box-phone"></i></label>
                                <input th:field="*{telefono}" type="text" name="telefono" id="txtTelefono" placeholder="Telefono"/>
                            </div>
                            <div class='alert alert-danger' th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
                            <div class="form-group">
                                <label for="txtPassword"><i class="zmdi zmdi-lock"></i></label>
                                <input th:field="*{password}" type="password" name="pass" id="txtPassword" placeholder="Contraseña"/>
                            </div>
                            <div class='alert alert-danger' th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                            <div class="form-group">
                                <label for="txtRepetirPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input th:field="*{matchingPassword}" type="password" name="repass" id="txtRepetirPassword" placeholder="Repite tu contraseña"/>
                            </div>
                            <div class='alert alert-danger' th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"></div>
                            <div th:if="${#fields.hasErrors('global')}" >
                                <div th:each="err : ${#fields.errors('global')}" th:text="${err}" class="alert alert-danger"></div>
                            </div>
                            <div class="form-group form-button">
                                <button type="submit" class="form-submit" >
                                    Iniciar Sesion
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img th:src="@{/images/signup-image.jpg}" src="../static/images/signup-image.jpg" alt="sing up image"></figure>
                        <a th:href="@{/login}" href="#" class="signup-image-link">Ya tengo una cuenta. Iniciar Sesión</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
    <script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>