<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema preventivo</title>


    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" href="../static/vendor/fontawesome-free/css/all.min.css"
          rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" href="../static/css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="shortcut icon" th:href="@{/favicon.ico}" href="../static/favicon.ico" type="image/x-icon">
    <link rel="icon" th:href="@{/favicon.ico}" href="../static/favicon.ico" type="image/x-icon">


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gray-800 sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-10">
                <i class="fas fa-user-shield"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Sistema preventivo<sup>1.0</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/index}">
                <i class="fas fa-lightbulb"></i>
                <span>Menu principal</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/consulta}">
                <i class="fas fa-search"></i>
                <span>Consultar número telefónico</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/reporte}">
                <i class="fas fa-edit"></i>
                <span>Realizar reporte</span></a>
        </li>

        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/reporte}">
                <i class="fas fa-comment-alt"></i>
                <span>Realizar comentario</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="h5 mr-2 d-none d-lg-inline text-gray-600" th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
                            <img class="img-profile rounded-circle"
                                 th:src="@{/images/undraw_profile.svg}" src="../static/images/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-500"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h1 mb-0 text-gray-800">Reportar número telefónico </h1>
                </div>


                <div class="text-left">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4 " style="width: 20rem;"
                         th:src="@{/images/undraw_done_re_oak4.svg}" src="../static/images/undraw_done_re_oak4.svg" alt="...">
                </div>

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <p class="h3 mb-0 text-black-50">Por favor, llene los campos a continuación para realizar el reporte.</p>
                </div>

                <form action="/reporte" class="user col-lg-4" method="post" th:object="${reporte}">
                        <div class="form-group border bg-gray-200 ">
                            <div class="col-sm-12 mb-3 mb-sm-0 py-2">
                                <input th:field="*{nombreAlias}" type="text" class="form-control  border-bottom-primary"
                                       id="exampleFirstName" placeholder="Alias">
                            </div>
                            <div class='alert alert-danger' th:if="${#fields.hasErrors('nombreAlias')}"
                                 th:errors="*{nombreAlias}"></div>
                            <div class="col-sm-12 mb-3 mb-sm-0 py-2">
                                <input th:field="*{numeroTelefonico}" type="text"
                                       class="form-control  border-bottom-primary" id="exampleLastName"
                                       placeholder="Número telefónico">
                            </div>
                            <div class='alert alert-danger' th:if="${#fields.hasErrors('numeroTelefonico')}"
                                 th:errors="*{numeroTelefonico}"></div>
                            <div class="col-sm-12 mb-3 mb-sm-0 py-2">
                                <textarea th:field="*{comentario}" class="form-control border-bottom-primary"
                                          id="exampleInputEmail" rows="5" placeholder="Comentario"> </textarea>
                            </div>
                            <div class='alert alert-danger' th:if="${#fields.hasErrors('comentario')}"
                                 th:errors="*{comentario}"></div>
                        </div>
                        <div class="form-group ">
                            <button type="submit" class="btn btn-success btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                <span class="text">Realizar reporte</span>
                            </button>
                        </div>

                </form>
                <div class='alert alert-success' th:if="${mensajeSuccess != null}" th:text="${mensajeSuccess}"></div>
                <div class='alert alert-danger' th:if="${mensajeError != null} " th:text="${mensajeError}"></div>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span></span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Selecciona "Salir" si estás seguro que quieres salir y terminar la sesión.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" th:href="@{/login}" href="#">Salir</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquerysb.min.js}" src="../static/vendor/jquery/jquerysb.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"
        src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}" src="../static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}" src="../static/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}" src="../static/js/demo/chart-area-demo.js"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}" src="../static/js/demo/chart-pie-demo.js"></script>



</body>

</html>